body {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

/* CSS for first section of the page */
.hero {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: #1f2937;
    padding: 0 124px;
    margin: 0;
}
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
}
.header-logo {
    color: #F9FAF8;
}
.header-logo > img {
    width: 100px;
}
.left-links, .right-links {
    display: flex;
    padding: 18px;
    gap: 24px;
}
.right-links {
    display: flex;
    margin-left: auto;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero-secondary-text, a {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    text-align: center;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #3882f6;
}
.hero-placeholder-image > img {
    height: 250px;
    width: 500px;
}
.hero-content {
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.content-wrapper .flipped {
    flex-direction: row-reverse;
}
.content-wrapper .hero-content {
    flex: 1;
    padding: 10px;
}
/* End of css of first section of the page. */

/* Start of CSS of second section of the page */
.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px;
    margin: 0;
}
.information-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
    padding: 48px;
}
.info-basic > img {
    width: 200px;
    height: 200px;
    border-radius: 15px;

}
.info-basic {
    max-width: 200px;
}
.information-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
/* End of CSS of second section of the page */
